In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('./test_db')

In [3]:
cur = con.cursor()

In [4]:
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(1, 'name_a', 10.5)
1
name_a
10.5
(3, 'c_update', 3.14)
3
c_update
3.14
(4, 'from_model', 2.236)
4
from_model
2.236
(5, 'new_model', 20.5)
5
new_model
20.5
(100, 'name_z', 99.9)
100
name_z
99.9

In [5]:
insert_sql = ' INSERT INTO person VALUES(?, ?, ?)'

In [6]:
insert_param = (100, 'name_z', 99.9)

In [7]:
cur.execute(insert_sql, insert_param)

IntegrityError: UNIQUE constraint failed: person.id

In [ ]:
con.commit()

In [ ]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})

In [ ]:
print(cur.fetchall())

In [ ]:
con.close()

In [ ]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})